@page "/counter"
@inject IJSRuntime JSRuntime;

<h1>Counter</h1>

<p>Your pay: @_currentCount JPYC</p>

<div>
    <button class="btn btn-primary" @onclick="IncrementCount"> + </button>
    <button class="btn btn-primary" @onclick="DecrementCount"> - </button>
    <button class="btn btn-primary" @onclick="ClearCount"> Clear </button>
</div>


@code {
    int _currentCount = 0;

    int _maxVal = 100 * 10, _minVal = 0, _step = 100;

    [Inject]
    LocalStorage _localStorage { get; set; }

    async void IncrementCount(){
        if(_currentCount > _maxVal) _currentCount += _step;

        await _localStorage.SetItem("Counter", _currentCount.ToString());
    }

    async void DecrementCount(){
        if(_currentCount < _minVal) _currentCount -= _step;

        await _localStorage.SetItem("Counter", _currentCount.ToString());
    }

    async void ClearCount(){
        await _localStorage.RemoveItem("Counter");
        _currentCount = 0;
    }

    protected override async Task OnInitializedAsync()
    {
        var countText = await _localStorage.GetItem("Counter");
        if(Int32.TryParse(countText, out var count)){
            _currentCount = count;
        }
    }
}
