@page "/JpycInputPage"
@inject IJSRuntime JSRuntime;

<h1>Please set your payment value</h1>

<p>Your pay: @_currentCount JPYC</p>

<div>
    <button class="btn btn-primary" @onclick="IncrementCount"> + </button>
    <button class="btn btn-primary" @onclick="DecrementCount"> - </button>
    <button class="btn btn-primary" @onclick="ClearCount"> Clear </button>
</div>


@code {
    int _currentCount = 0;

    int _maxVal = 100 * 10, _minVal = 0, _step = 100;

    [Inject]
    LocalStorage _localStorage { get; set; }

    async void IncrementCount(){
        if(_currentCount < _maxVal) _currentCount += _step;

        await _localStorage.SetItem(KeyList.Jpyc, _currentCount.ToString());
    }

    async void DecrementCount(){
        if(_currentCount > _minVal) _currentCount -= _step;

        await _localStorage.SetItem(KeyList.Jpyc, _currentCount.ToString());
    }

    async void ClearCount(){
        _currentCount = 0;
        await _localStorage.RemoveItem(KeyList.Jpyc);
    }

    protected override async Task OnInitializedAsync()
    {
        var countText = await _localStorage.GetItem(KeyList.Jpyc);
        if(int.TryParse(countText, out var count)){
            _currentCount = count;
        }
    }
}
