@page "/slider"

<h3>Slider</h3>
<p>Current Time: @now</p>
<button class="btn btn-primary" @onclick="UpdateDate">Update Date</button>


@code {
    DateTime now = DateTime.Now;

    void UpdateDate()
    {
        now = DateTime.Now;
    }
}
